<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.trabalhoandroid.trabalhoandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.com.trabalhoandroid.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.trabalhoandroid.activities.ClientesActivity"
            android:label="@string/title_activity_clientes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.com.trabalhoandroid.activities.CadastroClienteActivity"
            android:label="@string/title_activity_cadastro_cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.com.trabalhoandroid.activities.ProdutoActivity"
            android:label="@string/title_activity_produto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.com.trabalhoandroid.activities.CadastroProdutoActivity"
            android:label="@string/title_activity_cadastro_produto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.com.trabalhoandroid.activities.CadastroPedidoActivity"
            android:label="@string/title_activity_cadastro_pedido"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.com.trabalhoandroid.activities.PedidosActivity"
            android:label="@string/title_activity_pedidos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.com.trabalhoandroid.activities.CadastroItensActivity"
            android:label="@string/title_activity_cadastro_itens"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.com.trabalhoandroid.activities.ItensPedidoActivity"
            android:label="@string/title_activity_itens_pedido"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.com.trabalhoandroid.activities.AlteraClienteActivity"
            android:label="@string/title_activity_altera_cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.com.trabalhoandroid.activities.AlteraProdutoActivity"
            android:label="@string/title_activity_altera_produto"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>